<!DOCTYPE html>

<html xmlns:th="http.thymeleaft.org"
      xlmns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Datos Cliente</h2>
         <header th:replace="layout/plantilla :: header" />
        <a th:href="@{/}">Regresar</a> <!-- El @ se utiliza cuando vamos a evaluar rutas -->
        <br>
        <br>
        <form th:action="@{/guardarCliente}"
              method="post"
              th:object="${cliente}">
            
            <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
            
            <label for="nombre:">Nombre: </label>
            <input type="text" id="nombre" name="nombre" th:field="*{nombre}"/>
            <br/>
            <label for="apellidos:">Apellidos: </label>
            <input type="text" id="apellidos" name="apellidos" th:field="*{apellidos}"/>
            <br>
            <label for="correo:">Correo: </label>
            <input type="email" id="correo" name="correo" th:field="*{correo}"/>
            <br>
            <label for="telefono:">Telefono: </label>
            <input type="tel" id="telefono" name="telefono" th:field="*{telefono}"/>
            <br>
            <input type="submit" name="Guardar" value="Guardar"/>
        </form>
    </body>
</html>
